name: release

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Create GH release
        shell: pwsh
        run: |
          $TargetVersion = ./build/version/New-ReleaseVersion.ps1
          gh release create $TargetVersion --generate-notes
