name: release

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Create GH release
        shell: pwsh
        run: gh release create $(./build/version/New-ReleaseVersion.ps1) --generate-notes
